
:root{
    --bg1: rgb(60, 60, 60);
    --bg2: rgb(30,30,30);
    --subject-select: rgb(60,60,60);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --day-width: 20.00%;
}

button{cursor: pointer;}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg1);
    min-width: 1100px;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--bg1);
    padding-bottom: 10px;
    color: white;
    padding-top: 15px;
}
/* DIRECTION SELECTOR */
.direction-selector{
    background-color: var(--bg1);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.direction-button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.active-direction-button{

}

/* SUBJECT SELECTOR*/

.subject-selector{
    background-color: var(--bg1);
    padding: 0px 0.5%;
    display: flex;
    padding-bottom: 10px;
    overflow-x:scroll;
    min-height: 100px;
    padding-top: 10px;
}
.subject-select{
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin-right: 5px;
    border-radius: 8px;
    padding: 10px;
    min-width: 250px;
    overflow: hidden;
}
.subject-direction{
    font-size: 12px;
}
.subject-title-toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}
.subject-title-toggle .subject-title{
    font-size: 14px;
    font-weight: bold;
}
.subject-toggle-buttons{
    display: flex;
}
.subject-toggle-button{
    margin-left: 10px;
    width: 20px;
    font-weight: bold;
}
.subject-pin-button{
    margin-left: 3px;
    padding: 3px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}.subject-pin-button:active{
    animation: pin 1s;
}
@keyframes pin {
    0% {background-color: red;}
    100% {background-color: transparent;}
}
.subject-group-toggle-button{
    font-weight: bold;
}
.subject-color-input{
    background-color: transparent;
    border: none;
}
.subject-group-toggle{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.subject-group-toggle-button, .subject-toggle-button{
    border: none;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(255, 72, 0);
}

.active-button{
    background-color: rgb(0, 162, 255);
}
/* ----------------------------------------------------------------------------- */
/* TIMETABLE*/

.timetable-wrapper{
    position: relative;
    flex: 1;
    min-width: 1024px;
    min-height: 600px;
    background-color: whitesmoke;
}

#timetable{
    position: absolute;
    left: 2.5%;
    top: 1%;
    width: 95%;
    height: 95%; /*control bottom space*/
}
#days{
    position: absolute;
    top: 0;
    left: 3%;
    width: 97%;
    height: 100%;
}
.day{
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    width: var(--day-width);
}
#hours{
    position: absolute;
    left: 0;
    width: 100%;
    top: 5%;
    height: 95%;
}
.hour{
    position: absolute;
    border-bottom: solid 1px #ddd;
    width: 100%;
}
.hour span{
    width: 2.5%;
    text-align: right;
    position: relative;
    display: block;
    bottom: -1.5em;
    left: 0;
}
.hour-dashed {
    position: absolute;
    border-bottom: dashed 1px #ddd;
    width: 97%;
    left: 3.00%;
}
#entries{
    position: absolute;
    top: 5%;
    height: 95%;
    left: 3%;
    width: 97%;
}
/* ----------------------------------------------------------------------------- */
/* ENTRY*/
.entry-box{
    position: absolute;
    /*left: 0;
    width: 20%;
    height: 15.3826%;
    top: 7.6923%;*/
    border-radius: 10px;
}
.entry{
    padding: 4px;
    color: black;
    font-size: 12px;
    /*word-break: break-all;*/
    display: flex;
    flex-direction: column;
    gap: 3px;
    /*border: solid 1px black;
    box-shadow: 0 0 5px black;
    height: 90%;*/
    border-radius: 10px;
}
.subject-title-type-group{
    display: flex;
    flex-wrap: wrap;
}
.subject-title-type-group .subject-title{
    margin-right: 2px;
    font-weight: bold;
}
.subject-type{
    margin-right: 2px;
}
.subject-group{

}
.subject-time{
    margin-bottom: -2px;
}
.subject-classroom{
    
}
.author-mark{
    position: absolute;
    right: 10px;
    bottom: 15px;
    display: flex;
    align-items: end;
}
.made-by{
    margin-right: 5px;
    font-size: 12px;
}
.author{
    font-weight: bold;
    font-size: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bg2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(80,80,80);
  }

@media only screen and (max-width: 600px) {
    
    .subject-selector{
        padding-bottom: 10px;
        min-height: 70px;
    }
    .subject-select{
        padding: 3px;
        padding: 10px;
        min-width: 200px;
    }
    .subject-direction{
        font-size: 10px;
    }
    .subject-title-toggle .subject-title{
        font-size: 12px;
        font-weight: bold;
    }
    .entry{
        font-size: 9px;
    }
}